@font-face {
    font-family: "Computer Modern Serif";
    src: url("../fonts/cmunrm.otf") format("opentype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern Serif";
    src: url("../fonts/cmunbx.otf") format("opentype");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern Serif";
    src: url("../fonts/cmunti.otf") format("opentype");
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Computer Modern Serif";
    src: url("../fonts/cmunbi.otf") format("opentype");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "FandolKai-Regular";
    src: url("../fonts/FandolKai-Regular.otf") format("opentype");
    font-display: swap;
}