@charset "UTF-8";

:root {
    /* Common between themes */
    --border-color: #009FE3;
    --blockquote-border-color: #009FE3;
    --code-color: #f8f8f2;
    --code-bg-color: #505050a1;
    --thumbnail-size: 250px;

    /* Theme specific */
    --bg-color: #F8F8FF;
    --secondary-bg-color:#F2F2F4;
    --body-color: rgba(0, 0, 0, 0.9);
    --post-color: rgba(51, 38, 38, 0.44);
    --heading-color: #000;
    --blockquote-text-color: #585858;
    --tag-color: #0053b9;
    --active-tag-color: #003679;
    --a-color: #009FE3;
    --box-shadow: 0 5px 15px rgba(0,0,0,.25);
}

html[data-theme='dark'] {
    --bg-color: #292a2d;
    --secondary-bg-color: #2c2d32;
    --body-color: rgba(255, 255, 255, 0.75);
    --post-color: rgba(0, 0, 0, 0.44);
    --heading-color: rgb(169, 169, 179);
    --blockquote-text-color: #a0a0a0;
    --tag-color: #50c7ff;
    --active-tag-color: #a4def9;
    --a-color: #50c7ff;
    --box-shadow: 0 5px 15px 2px rgba(0,0,0,.25)
}

html {
    background-color: var(--bg-color);
    font-family: "Computer Modern Serif", "FandolKai-Regular";
    font-variant-numeric: oldstyle-nums;
}

/* * {
    transition: background .5s;
    doesn't work with the sketch :/
} */

body {
    width: 100%;
    margin: 0;
    color: var(--body-color);
    background-color: var(--bg-color);
}

p {
    line-height: 1.6em;
    font-size: 1em;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--body-color);
}

a:hover {
    color: var(--tag-color);
    cursor: pointer;
	transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--active-tag-color);
}

h1, h2, h3, h4, h5, h6{
    font-variant: small-caps;
    font-weight: normal;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.55em;
}

h3 {
    font-size: 1.40em;
}

h4 {
    font-size: 1.30em;
}

h5 {
    font-size: 1.20em;
}

h6 {
    font-size: 1.15em;
}

code {
    padding: .05rem .3rem .05rem .3rem;
    border-radius: .3rem;
    color: var(--code-color);
    background-color: var(--code-bg-color);
    /* white-space: nowrap; */
    white-space: pre-wrap;
}

pre {
    background-color: #282a36;
    padding: .75rem;
    border-radius: .5em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
}

pre>code {
    white-space: pre-wrap;
    background-color: inherit;
    box-shadow: 0 0 black;
    padding: 0;
}

blockquote {
    padding: 0 1em;
    border-left: .25em solid var(--blockquote-border-color);
    color: var(--blockquote-text-color);
    font-style: italic;
    box-shadow: var(--box-shadow);
}

table {
    width: 100%;
    border-radius: .25em;
    border-spacing: 0;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
}

td, th {
    padding: 0.5em;
    text-align: left;
    font-weight: normal;
}

thead {
    background-color: var(--code-bg-color);
    color: var(--code-color);
    font-variant: small-caps;
}

tbody tr:nth-child(2n) {
    background-color: var(--secondary-bg-color);
}

tbody tr:hover {
    background-color: var(--code-bg-color);
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--bg-color), var(--a-color), var(--bg-color));
}

/* Layout */
.main {
    display: grid;
    grid-template-columns: 350px minmax(0, 900px);
    grid-template-rows: 60px auto;
    grid-template-areas:
        "sidebar page-top"
        "sidebar content";
    column-gap: 20px;
    row-gap: 20px;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page-top {
    grid-area: page-top;
    background-color: var(--bg-color);
    font-variant: small-caps;
    z-index: 3;
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);

    z-index: 2; /* hacky for sketch in full screen mode */
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Post Header */
.post-header span {
    margin-left: 5px;
    margin-right: 5px;
}

.post-header .language {
    font-variant: small-caps;
}

/* Post Footer */
.category {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
}

.tag::before {
    content: "#";
    opacity: .5;
}

.tag,
.category {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    margin: 5px 8px 5px 0;
}

.info i {
    opacity: 0.6;
    margin-right: 5px;
}

.page-top ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.page-top li {
    display: inline-flex;
    padding-right: 30px;
    height: 60px;
}

.page-top li:last-of-type {
    padding-right: 0;
}

.page-top a {
    line-height: 60px;
}

.page-top .current {
    border-bottom: 2px solid var(--a-color);
}

/* Sidebar */
#sidebar-sketch {
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.grow {
    flex-grow: 1;
}

/* We hide blogdown' TOC until it's attached to sidebar */
#TOC {
    display: none;
}

.sidebar #TOC {
    display: block;
}

.sidebar .logo-title {
    text-align: center;
    padding-top: 240px;
}

.sidebar .logo-title .description {
    font-size: 14px;
}

.sidebar .logo-title .logo {
    margin: 0 auto;
}

.sidebar .logo-title .title h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    margin: 1em;
}

.sidebar .logo-title .title a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: bold;
}

.sidebar .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
}

.sidebar .social-links i {
    margin-right: 3px;
}

.sidebar .social-links li {
    display: inline;
    padding: 0 4px;
    line-height: 0;
}

.top-toc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant: small-caps;
    font-size: 1.2em;
}

.top-toc img {
    width: 150px;
    border-radius: 50%;
    margin: 15px;
}

.title-toc {
    padding-left: 20px;
}

.title-toc h6 {
    margin: 0;
}

.middle-sidebar {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-sidebar:hover {
    overflow-y: auto;
}

.description {
    text-align: center;
}

.by {
    text-transform: lowercase;
    margin: 10px 0;
}

#TOC ul li, #TableOfContents ul li {
    list-style-type: none;
    margin: 0;
}

#TOC ul, #TableOfContents ul {
    padding-left: 20px;
}

#TOC a, #TableOfContents a {
    line-height: 1.5em;
}

#TOC a.active, #TableOfContents a.active {
    color: var(--a-color);
}

/* Post */
/* Summary */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.summary .post-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.thumbnail {
    align-self: center;
    background-position: center center;
    width: 100%;
    height: var(--thumbnail-size);
    margin-bottom: 10px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
}

.post-title h1, .post-title h5{
    margin-bottom: 0;
    margin-top: 0;
}

.post .post-content a {
    color: var(--tag-color)
}

.post .post-content a:hover {
    text-decoration: underline;
}

.post .post-content img {
    max-width: 100%;
}

.post .post-footer .meta {
    max-width: 100%;
    display: flex;
    color: #bbbbbb;
}

.post .post-footer .info .separator a {
    margin-right: 0.2em;
}

.post .post-footer .tags {
    padding-bottom: 15px;
    font-size: 13px;
}

.post .post-footer .tags ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.post .post-footer .tags ul li {
    list-style-type: none;
    margin: 0;
    padding-right: 5px;
    display: inline;
}

.post .post-footer .tags a {
    text-decoration: none;
    color: var(--post-color);
}

.post .post-footer .tags a:hover {
    text-decoration: none;
}

.pagination {
    margin: 20px;
    text-align: center;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination ul li {
    margin: 0 2px 0 2px;
    display: inline;
    line-height: 1;
}

.pagination .active {
    font-weight: bold;
}

.pagination .pre {
    float: left;
}

.pagination .next {
    float: right;
}

.built-with {
    font-size: smaller;
    text-align: center;
    margin: 20px 0;
}

.built-with a {
    color: var(--a-color);
}

.built-with a:hover {
    text-decoration: underline;
}

.like-reblog-buttons {
    float: right;
}

.like-button {
    float: right;
    padding: 0 0 0 10px;
}

.reblog-button {
    float: right;
    padding: 0;
}

#install-btn {
    position: fixed;
    bottom: 0px;
    right: 6px;
}

#disqus_thread {
    margin: 30px;
    border-bottom: 1px solid var(--border-color);
}

.footer {
    clear: both;
    text-align: center;
    margin: 0 auto;
    order: 3;
    width: 100%;
    padding: 20px 0;
    font-size: 0.9em;
}

/* Archive */
.archive {
    width: 100%;
}

.list-with-title {
    margin: 20px;
    padding: 0;
}

.list-with-title li {
    list-style-type: none;
    padding: 0;
}

.list-with-title .listing-title {
    font-size: 24px;
    color: #666666;
    font-weight: 600;
    line-height: 2.2em;
}

.list-with-title .listing {
    padding: 0;
}

.list-with-title .listing .listing-post {
    padding-bottom: 5px;
}

.list-with-title .listing .listing-post .post-time {
    float: right;
    color: #C5C5C5;
}


/* share */
.share {
    margin: 0px 30px;
    display: inline-flex;
}

.evernote {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #3E3E3E;
    margin-right: 5px;
}

.evernote a {
    color: #fff;
    padding: 11px;
    font-size: 12px;
}

.evernote a:hover {
    color: #ED6243;
    padding: 11px;
}

.weibo {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #ED6243;
    margin-right: 5px;
}

.weibo a {
    color: #fff;
    padding: 9px;
}

.weibo a:hover {
    color: #BD4226;
}

.twitter {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #59C0FD;
    margin-right: 5px;
}

.twitter a {
    color: #fff;
    padding: 9px;
}

.twitter a:hover {
    color: #4B9ECE;
}

/* about */
.about {
    margin: 30px;
}

.about h3 {
    font-size: 22px;
}

/* links*/
.links {
    margin: 30px;
}

.links h3 {
    font-size: 22px;
}

.links a {
    cursor: pointer;
}

/* Comments */
.comment-count {
    color: #666;
}

.tab-community {
    color: #666;
}

.read_more {
    font-size: 14px;
}

.back-button {
    padding-top: 30px;
    max-width: 100px;
    padding-left: 40px;
    float: left;
}

/* Facebook Comments */
#fb_comments_container {
    margin: 30px;
}

/* Buttons */
a.btn {
    color: #868686;
    font-weight: 400;
}

.btn {
    display: inline-block;
    position: relative;
    outline: 0;
    color: var(--post-color);
    background: transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
}

.btn:hover {
    display: inline-block;
    position: relative;
    outline: 0px;
    color: #464545;
    background: transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #464545;
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
}

[role="back"] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role="home"] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role="navigation"] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role="tags"] {
    padding: 6px 12px;
}

/* Menu */
.menu {
    float: right;
    padding-top: 30px;
}

.menu .btn-down {
    margin: 0px;
}

.menu .btn-down li {
    list-style: none;
    width: 100px;
}

.menu .btn-down li a {
    display: inline-block;
    position: relative;
    padding: 0.5em 1.25em;
    outline: 0;
    color: var(--post-color);
    background: transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
    margin-top: 5px;
}

.menu .btn-down li a:hover {
    position: relative;
    padding: 0.5em 1.25em;
    outline: 0;
    color: #fff;
    background: #3CBD10;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
    margin-top: 5px;
}

.menu .btn-down div {
    position: absolute;
    visibility: hidden;
    width: 100px;
    float: right;
}

.page_404 {
    text-align: center;
    padding-top: 50px;
}

.page_404 p {
    text-align: center;
}

.navbar-burger {
    display: none;
}

/* Medium zoom */
.medium-zoom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    will-change: opacity;
    background: var(--bg-color);
}

.medium-zoom--opened .medium-zoom-overlay {
    cursor: pointer;
    cursor: zoom-out;
    opacity: 1;
}

.medium-zoom-image {
    cursor: pointer;
    cursor: zoom-in;
    /*
        The `transition` is marked as "!important" for the animation to happen
        even though it's overriden by another inline `transition` style attribute.
        This is problematic with frameworks that generate inline styles on their
        images (e.g. Gatsby).
        See https://github.com/francoischalifour/medium-zoom/issues/110
     */
    transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1) !important;
    z-index: 100;
}

.medium-zoom-image--hidden {
    visibility: hidden;
}

.medium-zoom-image--opened {
    position: relative;
    cursor: pointer;
    cursor: zoom-out;
    will-change: transform;
}

/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--body-color) var(--bg-color);
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--body-color);
}

/* Screensize */
@media screen and (min-width: 1000px) {
    .hide {
        display: none;
    }        
}

@media screen and (max-width: 950px) {
    /* Layout */
    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px auto auto;
        grid-template-areas:
            "page-top"
            "sidebar"
            "content";
        justify-items: center;
    }

    .page-top {
        margin: 0;
        width: 100%;
        border-bottom: 0;
    }

    .sidebar {
        width: 100%;
        position: static;
        height: auto;
        background-color: var(--bg-color);
        border-bottom: 1px solid;
        border-image-width: 80px;
        border-image: repeating-linear-gradient( to right,transparent,var(--a-color),transparent) 10;
        box-shadow: 0 0 black;
    }

    /* .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .hide {
        display: block;
    }

    .by, .middle-sidebar {
        display: none;
    }

    .sidebar .logo-title {
        padding-top: 120px;
    }

    .sidebar .logo-title .title img {
        width: 100px;
    }

    .sidebar .logo-title .title h3 {
        font-size: 20px;
    }

    .post-title h3 {
        line-height: 1.6;
    }

    .share {
        display: grid;
    }

    .page-top .nav {
        background-color: var(--bg-color);
        box-shadow: var(--box-shadow);
        padding: .5rem 0;
        width: 100%;
        display: none;
        margin-top: 0px;
    }

    .page-top .nav.is-active {
        display: block;
    }

    .page-top .nav li {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        display: block;
        line-height: 2.5;
        padding: .5rem .75rem;
        position: relative;
        text-align: center;
        font-size: 1.3em;
    }

    .page-top .nav a.current {
        border-bottom: none;
    }

    .navbar-burger {
        cursor: pointer;
        display: block;
        height: 3.25rem;
        position: relative;
        width: 3.25rem;
        margin-left: auto;
    }

    .navbar-burger span {
        background-color: var(--heading-color);
        display: block;
        height: 1px;
        left: calc(50% - 8px);
        position: absolute;
        transform-origin: center;
        transition-duration: 86ms;
        transition-property: background-color, opacity, transform;
        transition-timing-function: ease-out;
        width: 16px;
    }

    .navbar-burger span:nth-child(1) {
        top: calc(50% - 6px);
    }

    .navbar-burger span:nth-child(2) {
        top: calc(50% - 1px);
    }

    .navbar-burger span:nth-child(3) {
        top: calc(50% + 4px);
    }

    .theme-switch-item {
        float: none;
    }
}

@media screen and (max-width: 600px) {
    .main {
        padding: 0;
    }
    .summary {
        flex-direction: column;
        align-items: center;
    }

    .summary .thumbnail {
        order: -1;
    }
}

.badge {
    display: inline-block;
    vertical-align: middle;
}

.badge img {
    display: block;
}

/* Callouts */
.callout {
    padding: 0;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.callout-header {
    display: flex;
    padding: 10px;
    color: #121213;
    font-size: 18px;
}

.callout-icon {
    padding-right: 5px;
}

.callout-body {
    padding: 10px;
}