{{ define "main" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
        {{ $permalink := .RelPermalink }}
        <div class="post summary">
            {{ with .Params.thumbnail }}
                <div class="thumbnail"  style="height: {{ .height }};">
                    <a href={{ $permalink }}>
                        <img src={{ .src | absURL }} style="object-position: {{ .object_position }};" alt={{ .alt | default "thumbnail" }} title={{ .alt | default "thumbnail" }} loading="lazy">
                    </a>
                </div>
            {{ end }}
            <div class="post-text grow">
                <div class="post-title">
                    <h5><a href={{ $permalink }}>{{ .Title }}</a></h5>
                </div>
                {{ partial "post-header" . }}
                <div class="post-content">
                    <div class="p_part">
                        {{/*
                            When blogdown exports TOC it shows in the summary
                            so, if you're using .rmd or .rmarkdown and outputing TOC
                            you need the summary in the frontmatter 
                        */}}
                        {{ if (isset .Params "Summary") }}
                            <p>{{ .Params.Summary }} </p>
                        {{ else }}
                            <p>{{ .Summary }}</p>
                        {{ end }}
                    </div>
                </div>
                <div class="post-footer">
                    <div class="meta">
                        <div class="info">
                            {{ with .Params.categories }}
                                {{- range $index, $el := . -}}
                                    <a class="category" href="{{ ( printf "categories/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                                {{- end -}}
                            {{ end }}
                            {{ with .Params.tags }}
                                {{- range $index, $el := . -}}
                                    <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                                {{- end -}}
                            {{ end }}
                            {{ partial "list-badges" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
    {{ if gt $paginator.TotalPages 1 }}
        <div class="pagination">
            {{ template "_internal/pagination.html" . }}
        </div>
    {{ end }}
{{ end }}